body{
    background: #222;
}

.card{
    /* width: 400px;
    height: 200px; */
    background-color: aqua;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-bar input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search-bar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search-bar button img{
    width: 30px;
}

.weather img{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -20px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -30px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.humidity{
    display: flex;
    align-items: center;
    text-align: left;
}
.humidity img{
    width:40px;
    margin-right: 10px;
}
.wind-speed{
    display: flex;
    align-items: center;
    text-align: left;
}
.wind-speed img{
    width:40px;
    margin-left: 10px;
}

.humid,.wind{
    font-size: 28px;
    margin-top: -1px;
}

.clouds{
    src: "images\clear.png";
}

#cityList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    background-color: #f0f0f0;
    color: black;
}
#cityList li {
    padding: 8px;
    cursor: pointer;
}

#cityList li:hover {
    background-color: #8c8b8b;
}

.something{
    width:700px;
    background-color: rgb(214, 209, 209);
    position: absolute;
    bottom: 73.4%;
    left: 36.5%;


}